<div class="container">
    <div class="section">
        <div class="card">
            <div class="card-body">
                <form>
                    <div>
                        <label for="browser" class="form-label">Select Batch</label>
                        <input class="form-control" list="browsers" name="browser" id="browser">
                        <datalist id="browsers">
                            <option>LINK 1</option>
                            <option>LINK 2</option>
                            <option>LINK 3</option>
                            <option>LINK 4</option>
                            <option>LINK 5</option>
                        </datalist>
                    </div>
                    <div>
                        <label for="browser" class="form-label ">Duration of Batch(In Month) :
                            <input type="radio" name="browser" id="radio" cheaked> Year
                            <input type="radio" name="browser" id="radio"> Month
                            <input type="radio" name="browser" id="radio"> Week
                            <input type="radio" name="browser" id="radio"> Days
                        </label>
                        <input type="number" class="form-control" name="browser" id="">
                    </div>
                    <div>
                        <label for="browser" class="form-label ">Payment Option :
                            <input type="radio" name="browser" id="radio" cheaked> Year
                            <input type="radio" name="browser" id="radio"> Month
                            <input type="radio" name="browser" id="radio"> Week
                            <input type="radio" name="browser" id="radio"> Days
                            <input type="radio" name="browser" id="radio"> Course
                        </label>
                    </div> 
                    <div>
                        <label class="form-label">Total Fee (per student)</label>
                        <input type="number" class="form-control" id="browser">
                    </div>
                    <div>
                        <label class="form-label">Description</label>
                        <textarea type="textarea" class="form-control" id="browser"></textarea>
                    </div>
                     
                </form>
            </div>
            <div class="card-footer btn-row">
                <button class="btn-clear">Clear</button>
                <button class="btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>