<div class="row mt-5">
  <div class="col-md-2"></div>
  <div class="col-md-2" style="text-align: center;">
    <label for="browser" class="form-label">Select Course</label>
  </div>
  <div class="col-md-4">
    <select class="form-select Select-Batch" id="sel1" name="sellist" [(ngModel)]="selectedCourse"
      (change)="onBatchChange()">
      <option *ngFor="let course of courses" [value]="course.courseid">{{ course.coursename }}</option>
    </select>
  </div>
  <div class="col-md-4" style="text-align: center;">
    <div class="card-footer">
      <button class="btn-submit" [disabled]="!selectedCourse" (click)="saveBatchCourse()">Save</button>
      <button class="btn-clear" [disabled]="!selectedCourse" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Available Subject
      </div>
      <div class="card-body">
        <table mat-table [dataSource]="availableSubjects">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggleAvailableSubject() : null"
                [checked]="selectionAvailableSubjects.hasValue() && isAllSelectedAvailableSubject()"
                [indeterminate]="selectionAvailableSubjects.hasValue() && !isAllSelectedAvailableSubject()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selectionAvailableSubjects.toggle(row) : null"
                [checked]="selectionAvailableSubjects.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectcode}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectname}} </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectdesc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd; let even = even"
            [class.mat-row-even]="even" [class.mat-row-odd]="odd" (click)="selectionAvailableSubjects.toggle(row)">
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-2 align-self-center text-center arrow-container">
    <div class="arrow-icon" (click)="assignSubject()">
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="arrow-icon" (click)="unassignSubject()">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Assigned Subject
      </div>
      <div class="card-body">
        <table mat-table [dataSource]="assignedSubjects">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggleAssignedCourse() : null"
                [checked]="selectionAssignedSubjects.hasValue() && isAllSelectedAssignedCourse()"
                [indeterminate]="selectionAssignedSubjects.hasValue() && !isAllSelectedAssignedCourse()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selectionAssignedSubjects.toggle(row) : null"
                [checked]="selectionAssignedSubjects.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectcode}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectname}} </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectdesc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd; let even = even"
            [class.mat-row-even]="even" (click)="selectionAssignedSubjects.toggle(row)">
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>