<div class="container">
    <div class="section">
        <div class="card">
            <div class="card-body">
                <form>
                    <div>
                        <label for="browser" class="form-label">Select Batch</label>
                        <input class="form-control" list="browsers" name="browser" id="browser">
                        <datalist id="browsers">
                            <option>LINK 1</option>
                            <option>LINK 2</option>
                            <option>LINK 3</option>
                            <option>LINK 4</option>
                            <option>LINK 5</option>
                        </datalist>
                    </div>
                    <div>
                        <label for="browser" class="form-label">Select User</label>
                        <input class="form-control" list="browsers" name="browser" id="browser">
                        <datalist id="browsers">
                            <option>LINK 1</option>
                            <option>LINK 2</option>
                            <option>LINK 3</option>
                            <option>LINK 4</option>
                            <option>LINK 5</option>
                        </datalist>
                    </div>
                </form>
            </div>
            <div class="card-footer btn-row">
                <button class="btn-clear">Clear</button>
                <button class="btn-submit">Add</button>
            </div>
        </div>
    </div>
</div>