<!-- <div class="container-fluid">
  <h3>Content Provider</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div>
            <label for="browser" class="form-label">Content Name </label>
            <input type="text" class="form-control" name="browser" id="browser">
          </div>
          <div>
            <label for="browser" class="form-label">Select Batch</label>
            <select class="form-select Select-Batch" id="sel1" name="sellist">
              <option>Batch 1</option>
              <option>Batch 2</option>
              <option>Batch 3</option>
              <option>Batch 4</option>
            </select>
          </div>
          <div>
            <label for="browser" class="form-label">Select Subject</label>
            <select class="form-select Select-Batch" id="sel1" name="sellist">
              <option>Subject 1</option>
              <option>Subject 2</option>
              <option>Subject 3</option>
              <option>Subject 4</option>
            </select>
          </div>
          <div>
            <label for="browser" class="form-label">Description </label>
            <textarea type="textarea" class="form-control" name="browser" id="browser"></textarea>
          </div>
          <div>
            <label for="browser" class="form-label">File Attachment</label>
            <form (submit)="uploadVideo($event)">
              <div class="card">
                <button type="file" id="videoInput" (change)="onFileSelected($event)" [disabled]="!!selectedVideo"><i
                    class="fa-solid fa-paperclip"></i> Upload File</button>

              </div>
            </form>
            <div class="card-footer btn-row">
              <button class="btn-clear">Clear</button>
              <button class="btn-submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="mb-3">
        <h3>Content Provider</h3>
      </div>
      <div class="card p-3">
        <form (submit)="uploadVideo($event)">
          <div class="mb-3">
            <label for="browser" class="form-label">Content Name </label>
            <input type="text" class="form-control" name="browser" id="browser">
          </div>
          <div class="mb-3">
            <label for="browser" class="form-label">Select Batch</label>
            <select class="form-select Select-Batch" id="sel1" name="sellist">
              <option>Batch 1</option>
              <option>Batch 2</option>
              <option>Batch 3</option>
              <option>Batch 4</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="browser" class="form-label">Select Subject</label>
            <select class="form-select Select-Batch" id="sel1" name="sellist">
              <option>Subject 1</option>
              <option>Subject 2</option>
              <option>Subject 3</option>
              <option>Subject 4</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="browser" class="form-label">Description </label>
            <textarea type="textarea" class="form-control" name="browser" id="browser"></textarea>
          </div>
          <div class="mb-3 d-flex">
            <label for="browser" class="form-label" style="margin-top: 50px;">File Attachment</label>
            <button class="upload-btn" type="file" id="videoInput" (change)="onFileSelected($event)"
              [disabled]="!!selectedVideo">
              <span><i class="fa-solid fa-paperclip"></i></span>
              <p>Upload File</p>
            </button>
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <button class="btn btn-primary btn-clear">Clear</button>
            <button class="btn btn-primary btn-submit" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
