<mat-toolbar *ngIf="topnavbarService.showToolbar">
  <div>
    <span class="logo">
      <img class="img-fluid" src="/assets/images/compu_lms_logo.png" alt="compulogo">
    </span>
    <button mat-icon-button (click)="toggleMenu()" class="toggle-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="example-spacer"></span>
  <mat-icon class="notifications-icon">notifications
    <span class="badge translate-middle rounded-circle">1
    </span>
  </mat-icon>
  <div class="account" [matMenuTriggerFor]="logoutMenu" (click)="closeEmitterHandler()">
    <mat-icon class="account-icon"><img class="rounded-circle img-fluid" src="/assets/images/log in.png"
        alt="admin-img">
    </mat-icon>
    <div class="user-email"> {{ userEmail }}</div>
    <button class="mat-dropdown" mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu class="card" #logoutMenu="matMenu">
  <button mat-menu-item (click)="profile()"><i class="fa-solid fa-user"></i> My Profile</button>
  <hr>
  <button mat-menu-item><i class="fa-solid fa-gear"></i> Setting</button>
  <hr>
  <button mat-menu-item (click)="onLogout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
</mat-menu>
<!-- Add the side menu component here -->
<mat-sidenav-container [autosize]="shouldAutosize()">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'">
    <app-sidemenu *ngIf="topnavbarService.showToolbar" [isCollapsed]="isCollapsed">
    </app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
