<div class="container">
    <div class="section">
        <div class="card">
            <div class="card-body">
                <form>
                    <div>
                        <label for="browser" class="form-label">Select Batch</label>
                        <select class="form-select Select-Batch" id="sel1" name="sellist">
                            <option>Batch 1</option>
                            <option>Batch 2</option>
                            <option>Batch 3</option>
                            <option>Batch 4</option>
                        </select>
                    </div>
                    <div class="table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Assigen Course</th>
                                    <th scope="col">Faculty Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="form-select" id="sel1" name="sellist">
                                            <option>Html</option>
                                            <option>css</option>
                                            <option>java</option>
                                            <option>bootstrap</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-select" id="sel1" name="sellist"
                                            aria-placeholder="Select Course">
                                            <option>Html</option>
                                            <option>css</option>
                                            <option>java</option>
                                            <option>bootstrap</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-select" id="sel1" name="sellist"
                                            aria-placeholder="Select Course">
                                            <option>Html</option>
                                            <option>css</option>
                                            <option>java</option>
                                            <option>bootstrap</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-select" id="sel1" name="sellist"
                                            aria-placeholder="Select Course">
                                            <option>Html</option>
                                            <option>css</option>
                                            <option>java</option>
                                            <option>bootstrap</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-select" id="sel1" name="sellist"
                                            aria-placeholder="Select Course">
                                            <option>Html</option>
                                            <option>css</option>
                                            <option>java</option>
                                            <option>bootstrap</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-select" id="sel1" name="sellist"
                                            aria-placeholder="Select Course">
                                            <option>Html</option>
                                            <option>css</option>
                                            <option>java</option>
                                            <option>bootstrap</option>
                                        </select>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="card-footer btn-row">
                <button class="btn-clear">Clear</button>
                <button class="btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>